<div class="container">

<% if current_user.nil? %>
  <li><a id="welcome" href="/sessions/new">Please log in</a></li>
<% else %>
  <p>Welcome User <%= current_user.name %>!!</p>
<% end %>

  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>
